/* Estilos gerais */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffe600;
  border-bottom: 1px solid #e7e7e7;
}

.logo img {
  height: 50px;
}

.search {
  display: flex;
}

.search input {
  margin-right: 10px;
}

.user-options {
  align-self: center;
}

/* Estilos para a avaliação */
.avaliacao {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin-bottom: 20px;
}

.estrela {
  color: orange;
  cursor: pointer;
}

textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
}

#recommend-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.enviar-avaliacao {
  display: flex;
  justify-content: flex-end;
}
